$material-dark: (
  'background': #19191a,
  'bg-color': #19191a,
  'surface': #19191a,
  'app-bar': transparent,
  'toolbar': transparent,
);

$material-light: (
  'background': #f3f3f5,
  'bg-color': #f3f3f5,
  'surface': #f3f3f5,
  'app-bar': transparent,
  'toolbar': transparent,
);

$tabs-bar-background-color: 'toolbar';

:root {
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1264px;
  --breakpoint-xl: 1904px;
  --nav-drawer-width: 260px;
}